@font-face {
	font-family: "Inter";
	src: 
		url("../assets/fonts/inter-v7-latin_cyrillic-regular.woff2") format("woff2"),
		url("../assets/fonts/inter-v7-latin_cyrillic-regular.woff") format("woff");

}
*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	font-family: "Inter";
}

.main {
	flex-grow: 1;
	display: flex;
}

.container {
	width: 800px;
	min-height: 100%;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.game {
	margin-bottom: 30px;
	display: grid;
	grid-template-columns: repeat(5, 100px);
	grid-template-rows: repeat(4, 100px);
	grid-gap: 20px;
}

.card {
	border: 1px solid #000;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	transform-style: preserve-3d;
	transition: transform 0.5s;
}

.card.flip {
	transform: rotateY(180deg);
}

.back,
.front {
	width: 98px;
	position: absolute;
	backface-visibility: hidden;
}

.front {
	transform: rotateY(180deg);
}

.btn {
	border: 1px solid #000;
	background: none;
}

.results {
	display: none;
	background-color: rgba(0, 0, 0, 0.8);
}

.results.active {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 100;
	width: 100%;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.table {
	width: 500px;
	height: 600px;
	display: flex;
	flex-direction: column;
	border: 3px solid green;
}

.table > .caption {
	align-self: center;
	color: #fff;
}

.table .data {
	border: 1px solid #000;
}

.close-btn {
	width: 30px;
	align-self: end;
	filter: invert(100%);
	transition: filter 0.3s;
}

.close-btn:hover {
	filter: invert(70%);
}

.footer {
	height: 60px;
   padding: 0 50px;
   display: flex;
   justify-content: center;
   align-items: center;
   color: #fff;
   background-color: #000;
}

.github {
   margin: 0 50px;
}

.github a {
	text-decoration: none;
	color: white;
}

.rss img {
   height: 30px;
	filter: invert(100%);
	z-index: 0;
}