*, 
*::after,
*::before {
	margin: 0;
	padding: 0;
}

body {
	min-height: 100vh;
	background: rgb(0, 0, 0); 
	filter: blur(10px);
}

.container {
	height: 100vh;
	background: url(../assets/img/lemonade.png) no-repeat;
	background-size: 100% 100%;
}