@media (max-width: 1440px) {
	.container {
		width: 100%;
	}

	.header-nav {
		display: none;
	}

	.skills {
		height: auto;
	}

	.skills-items {
   	justify-content: space-around;
  	}
	
	.portfolio-items {
		height: auto;
		justify-content: space-around;
	}

	.video-player-image {
		width: 100%;
		height: auto;
	}

	.price-items {
		flex-direction: column;
		align-items: center;
	}

	.price-item {
		width: 420px;
		margin-bottom: 50px;
	}

}

@media (max-width: 950px) {
	
	.portfolio-btns {
		width: 445px;
		height: 115px;
		align-content: space-between;
	}

	.portfolio-img {
		margin-bottom: 25px;
	}

	.portfolio-img:last-child {
		margin-bottom: 0;
	}

}

@media (max-width: 768px) {
	.hero-container{
		background: url(../assets/img/bg-small.jpg) no-repeat;
		background-position: center 0;
	}

	.section {
		padding: 80px 20px;
	}

	.skills {
		padding: 80px 20px 0;
	}

	.portfolio {
		padding: 80px 0 0;
	}

	.video {
		padding: 80px 0 0;
		/* border: 1px solid white; */
	}

	.play-btn {
		width: 75px;
		height: 75px;
		background-size: contain;
	}

	.play-btn:hover,
	.play-btn:active,
	.play-btn:focus {
		background-size: contain;
	}

	.contacts {
		height: 600px;
		padding-top: 60px;
		background-size: auto 600px;
	}

	.contacts-container { 
		height: 429px;
		margin: 0 auto;
		align-items: center;
	}

	#contact-form {
		align-items: center;
	}

	.contacts-title {
		font-size: 32px;
		line-height: 64px;
	}

	.footer {
		height: 190px;
		padding: 28px;
		flex-direction: column;
	}

	.footer-data {
		width: 210px;
		justify-content: space-around;
	}

	.footer-data span,
	.footer-data a,
	.footer .rss {
		line-height: 24px;
	}

	.footer span {
		margin-right: 0;
	}

	
}