@media (max-width: 1440px) {
	.container {
		width: 100%;
	}

	.header-nav {
		margin-left: 0;
		margin-right: 20px;
		flex-grow: 1;
		display: flex;
		justify-content: right;
	}

	.lng-list-link {
		font-weight: bold;
	}

	.skills {
		height: auto;
		margin-bottom: -38px;
	}

	.skills-items {
   	/* width: 728px; */
		height: auto;
		margin: 0 auto;
		
		justify-content: space-around;
		align-content: space-between;
  	}

	.skills-item {
		width: 320px;
		height: 224px;
		margin-bottom: 36px;
	}
	
	.skills-item-description {
		line-height: 22px;
	}
	
	.portfolio-items {
		height: auto;
		justify-content: space-around;
	}

	.video-player-image {
		width: 100%;
		height: auto;
	}

	.price-items {
		flex-direction: column;
		align-items: center;
	}

	.price-item {
		width: 420px;
		margin-bottom: 50px;
	}

}

@media (max-width: 1000px) {
	.portfolio-btns {
		width: 445px;
		height: 115px;
		align-content: space-between;
	}
	
	.portfolio-img {
		margin-bottom: 25px;
	}

	.portfolio-img:last-child {
		margin-bottom: 0;
	}

}

@media (max-width: 768px) {
	.section {
		padding: 80px 20px;
		border: 1px solid white;
	}

	.section-title {
		width: 364px;
		margin-bottom: 50px;
	}

	.section-title h2 {
		font-size: 32px;
		line-height: 40px;
	}

	
	.header {
		padding: 0 60px;
	}
	
	.header-nav {
		/* display: none; */
		position: fixed;
		top: 0;
		right: 0;
		width: 620px;
		height: 100%;
		margin-right: 0;
		flex-direction: column;
		background: black;
		z-index: 9999;
		/* border: 1px solid white; */
	}

	.close-menu-btn {
		display: block;
		width: 50px;
		height: 50px;
		margin: 20px 64px 64px 0;
		align-self: flex-end;
		background: url(../assets/svg/close.svg) no-repeat;
	}

	.header-nav-list {
		flex-direction: column;
		/* border: 1px solid white; */
	}

	.nav-list-item {
		margin-bottom: 16px;
	}

	.nav-list-link {
		margin-left: 127px;
		font-size: 35px;
		line-height: 73px;
	}

	.switch-lng {
		width: 82px;
		flex-grow: 1;
	}

	.lng-list {
		display: flex;
		justify-content: flex-end;
	}

	
	.lng-list-item:first-child {
		margin-right: 9px;
	}

	.lng-separator {
		margin-right: 18px;
		font-weight: bold;
	}
	
	.lng-list-item:last-child {
		margin-right: 16px;
	}

	.humburger {
		display: block;
		width: 59px;
		height: 50px;
		/* margin-right: 4px; */
		background: url(../assets/svg/hamburger.svg) no-repeat;
		background-position: center center;
	}

	.hero-container {
		height: 590px;
		padding-top: 0;
		background: url(../assets/img/bg-small.jpg) no-repeat;
		background-position: center 0;
	}
		
	.hero {
		width: 100%;
		height: 100%;
		margin-left: 0;
		padding-left: 60px;
		padding-top: 168px;
		display: flex;
		flex-direction: column;
	}

	.hero-title {
		margin-bottom: 20px;
		font-weight: normal;
		font-size: 32px;
		line-height: 64px;
	}

	.hero-text {
		width: 390px;
		height: 72px;
		margin-bottom: 60px;
		line-height: 24px;
	}

	.skills {
		padding: 80px 20px 0;
	}

	.skills > .section-title {
		margin-bottom: 36px;
	}

	.skills-items {
		padding: 9px 44px 27px 40px;
		margin-bottom: 15px;
		justify-content: space-between;
		align-content: space-between;
	}

	.skills-item {
		width: 300px;
	}

	.skills-item-icon {
		margin-bottom: 30px;
	}
	
	.portfolio {
		padding: 80px 0 0;
	}

	.video {
		padding: 80px 0 0;
	}

	.video-player-image {
		width: 768px;
		height: 418px;
		background: url(../assets/img/video-player-small.jpg) no-repeat;
	}

	.play-btn {
		width: 75px;
		height: 75px;
		background-size: contain;
	}

	.play-btn:hover,
	.play-btn:active,
	.play-btn:focus {
		background-size: contain;
	}

	.price {
		padding: 80px 0;
	}

	.price-item:last-child {
		margin-bottom: 0;
	}
	
	.contacts {
		height: 600px;
		padding-top: 60px;
		background-size: auto 600px;
	}

	.contacts-container { 
		height: 429px;
		margin: 0 auto;
		align-items: center;
	}

	#contact-form {
		align-items: center;
	}

	.contacts-title {
		font-size: 32px;
		line-height: 64px;
	}

	.footer {
		height: 190px;
		padding: 28px;
		flex-direction: column;
	}

	.footer-data {
		width: 210px;
	}

	.footer-data span,
	.footer-data a,
	.footer .rss {
		line-height: 24px;
	}

	.footer-data span {
		margin-right: 0;
	}

	.footer-data span:first-child {
		margin-left: 18px;
	}

	.footer-data span:nth-child(2) {
		margin-left: 20px;
		margin-right: 3px;
	}

	.footer-data a {
		margin-left: 20px;
	}

	.rss {
		margin-top: -4px;
	}

}